.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    padding: 10px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
}

.menu ul li a:hover {
    text-decoration: underline;
}
